body{
    padding: 2em;
}

.grid-container {
    min-height: 100vh;
    display: grid;
    grid-template-areas: 
    "header header header"
    "main main aside"
    "footer footer footer";
    grid-template-columns: 1fr 2fr 1fr;
    gap: 1em;

    justify-content: center;
    align-content: center ;
}

.grid-container > *{
    background-color: aqua;
    padding: 1em;
    border-radius: 1em;
}
header {
    grid-area: header;
}

main {
    grid-area: main;
}

aside {
    grid-area: aside;
}

footer {
    grid-area: footer;
}