@import url(reset.css);
@import url(layout.css);
@import url(typography.css);

header > p {
    font-size: 3em;
    font-weight: bold;
}

aside > ul {
    list-style-type: none;
}

aside > ul  li {
    padding: 1em 0 1em 0;
}
li a {
    text-decoration: none;
    color: black;
}
