body {
    display: flex;
    align-items: center;
    justify-content: center;
    height: 100vh;
}

main {
    width: 700px;
    height: 500px;
    margin: 60px;
    display: flex;
    align-items: center;
    justify-content: center;
}

main > div {
    position: relative;
}

img.new {
   position: absolute;
   top: -180px;
   right: -190px;
}

img{
    display: block;
    width: 100%;
    height: auto;
}