html {
    font: 20px/1.5 "Helvetica", sans-serif;
}

.container {
    padding: 4em;
    display: flex;
    flex-direction: column;
    justify-content: flex-start;
    flex-wrap: wrap;
    max-width: 15vw;
    height: 20rem;
    gap: 1em;
}

span {
    display: block;
    border: 1px solid black;
    text-align: center;
    flex: 0 0 auto;
    width: 3em;

}


.S {
    order: 1;
}

.e {
    order: 2;
}

.m {
    order: 3;
}

.a {
    order: 4;
}

.n {
    order: 5;
}

.t {
    order: 6;
}

.i {
    order: 7;
}

.c {
    order: 8;
}

.H {
    order: 9;
}

.T {
    order: 10;
}

.M {
    order: 11;
}

.L {
    order: 12;
}