@import url('https://fonts.googleapis.com/css2?family=Montserrat:wght@500&family=PT+Sans&family=Poppins:wght@400;500&display=swap');

html{
    font: 16px/1.5 'PT Sans', sans-seirf;
}

li {
    list-style-type: none;
}

a {
   text-decoration: none;
}